/* SandWay CSS */

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono Medium';
    src: url('/fonts/RobotoMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

form {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

input {
    width: 16rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

th {
    border: 1px solid #ccc;
    padding: 0.25rem;
    text-align: left;
}

td {
    border: 1px solid #ccc;
    padding: 0.25rem;
}
  
.sw-header {
    height: 64px;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
}
  
.sw-content {
    margin-top: 64px;
    height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.sw-header-panel {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 12pt;
    list-style-type: none;
    margin: 0;
    padding: 0 0.25rem 0 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sw-header-panel-caption {
    justify-self: left;
    margin: 0 auto 0 0.25rem;
    font-size: 12pt;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.sw-header-panel-caption a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.sw-header-panel-caption a:hover, a:active {
    background-color: red;
}

.sw-header-panel-item {
    justify-self: right;
    margin: 0 0.25rem 0 0.25rem;
    font-size: 10pt;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.sw-header-panel-item a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.sw-header-panel-item a:hover, a:active {
    background-color: red;
}

.sw-space {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

.sw-space p {
    margin: 0;
}

.code {
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
}